<<<<<<< HEAD
/* line 17, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 23, ../sass/main.scss */
body {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  min-width: 800px;
  min-height: 600px;
  background-color: #a5dff5;
  z-index: -1;
}

/* line 35, ../sass/main.scss */
.wrap {
  min-width: 800px;
  min-height: 600px;
  width: 100%;
  height: 100%;
  z-index: 1;
  font-family: arial;
}

/* line 44, ../sass/main.scss */
.home {
  min-height: 250px;
  min-width: 300px;
  width: 25%;
  height: 35%;
  background-color: #d3d3d3;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -35%;
  margin-top: -15%;
  -webkit-box-shadow: inset 5px 5px 5px 0 #333333, inset -3px -3px 0 0 #999999;
  -moz-box-shadow: inset 5px 5px 5px 0 #333333, inset -3px -3px 0 0 #999999;
  box-shadow: inset 5px 5px 5px 0 #333333, inset -3px -3px 0 0 #999999;
  position: relative;
}

/* line 56, ../sass/main.scss */
.home:after {
  content: "";
  display: block;
  background: #de0000;
  width: 160%;
  height: 150%;
  position: relative;
  position: absolute;
  left: -30%;
  top: -25%;
  -webkit-border-radius: 1500px;
  -moz-border-radius: 1500px;
  -ms-border-radius: 1500px;
  -o-border-radius: 1500px;
  border-radius: 1500px;
  z-index: -1;
  -webkit-box-shadow: inset -10px -10px 45px 0 #333333, inset 10px 10px 75px 0 #f5c6c6, 10px 10px 35px -10px black;
  -moz-box-shadow: inset -10px -10px 45px 0 #333333, inset 10px 10px 75px 0 #f5c6c6, 10px 10px 35px -10px black;
  box-shadow: inset -10px -10px 45px 0 #333333, inset 10px 10px 75px 0 #f5c6c6, 10px 10px 35px -10px black;
}

@keyframes happy {
  /* line 70, ../sass/main.scss */
  0% {
    right: -5px;
    top: -90px;
    transform: rotate(-10deg);
  }

  /* line 75, ../sass/main.scss */
  25% {
    right: -5px;
    top: -90px;
    transform: rotate(0deg);
  }

  /* line 80, ../sass/main.scss */
  50% {
    right: -15px;
    top: -90px;
    transform: rotate(-10deg);
  }

  /* line 85, ../sass/main.scss */
  75% {
    right: -15px;
    top: -90px;
    transform: rotate(0deg);
  }

  /* line 90, ../sass/main.scss */
  100% {
    right: -5px;
    top: -90px;
    transform: rotate(-10deg);
  }
}

@-webkit-keyframes happy {
  /* line 98, ../sass/main.scss */
  0% {
    right: -5px;
    top: -90px;
    -webkit-transform: rotate(-10deg);
  }

  /* line 103, ../sass/main.scss */
  25% {
    right: -5px;
    top: -90px;
    -webkit-transform: rotate(0deg);
  }

  /* line 108, ../sass/main.scss */
  50% {
    right: -15px;
    top: -90px;
    -webkit-transform: rotate(-10deg);
  }

  /* line 113, ../sass/main.scss */
  75% {
    right: -15px;
    top: -90px;
    -webkit-transform: rotate(0deg);
  }

  /* line 118, ../sass/main.scss */
  100% {
    right: -5px;
    top: -90px;
    -webkit-transform: rotate(-10deg);
  }
}

@-moz-keyframes happy {
  /* line 126, ../sass/main.scss */
  0% {
    right: -5px;
    top: -90px;
    -moz-transform: rotate(-10deg);
  }

  /* line 131, ../sass/main.scss */
  25% {
    right: -5px;
    top: -90px;
    -moz-transform: rotate(0deg);
  }

  /* line 136, ../sass/main.scss */
  50% {
    right: -15px;
    top: -90px;
    -moz-transform: rotate(-10deg);
  }

  /* line 141, ../sass/main.scss */
  75% {
    right: -15px;
    top: -90px;
    -moz-transform: rotate(0deg);
  }

  /* line 146, ../sass/main.scss */
  100% {
    right: -5px;
    top: -90px;
    -moz-transform: rotate(-10deg);
  }
}

/* line 153, ../sass/main.scss */
.cat {
  width: 300px;
  height: 250px;
  position: absolute;
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -180px;
  margin-top: -125px;
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
}
/* line 161, ../sass/main.scss */
.cat .head {
  width: 25%;
  height: 30%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  background: #eaa91d;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -30%;
  margin-top: -25%;
  border: 2px dotted #eaa91d;
  background-clip: padding-box;
  -moz-background-clip: padding-box;
  z-index: 3;
  -webkit-box-shadow: 1px 3px 10px -5px #333333;
  -moz-box-shadow: 1px 3px 10px -5px #333333;
  box-shadow: 1px 3px 10px -5px #333333;
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
}
/* line 175, ../sass/main.scss */
.cat .eyes span {
  width: 20%;
  height: 20%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  background-color: #84e1ff;
  position: absolute;
  font-size: 15px;
  border: 1px solid #000;
}
/* line 185, ../sass/main.scss */
.cat .eyes span:after {
  content: "";
  width: 50%;
  height: 50%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  background-color: #000;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -25%;
  margin-top: -25%;
}
/* line 194, ../sass/main.scss */
.cat .left-eye {
  left: 20%;
  top: 25%;
}
/* line 199, ../sass/main.scss */
.cat .right-eye {
  right: 20%;
  top: 25%;
}
/* line 204, ../sass/main.scss */
.cat .nose {
  font-weight: bold;
  text-align: center;
  margin-top: 40%;
  width: 0;
  border-style: solid;
  border-width: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: 0;
  border-color: #000 transparent transparent transparent;
}
/* line 214, ../sass/main.scss */
.cat .mouth {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  font-weight: bold;
  font-family: arial;
  font-size: 27px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -10px;
  margin-top: 7px;
}
/* line 222, ../sass/main.scss */
.cat .ears span {
  border-style: solid;
  border-width: 35px 10px;
  border-color: transparent transparent #eaa91d transparent;
  position: absolute;
  margin-top: -60px;
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
}
/* line 230, ../sass/main.scss */
.cat .left-ear {
  -webkit-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  -o-transform: rotate(-25deg);
  transform: rotate(-25deg);
  left: -5px;
}
/* line 235, ../sass/main.scss */
.cat .right-ear {
  right: -5px;
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  transform: rotate(25deg);
}
/* line 240, ../sass/main.scss */
.cat .body {
  width: 70%;
  height: 35%;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
  background: #eaa91d;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -30%;
  margin-top: -5%;
  border: 2px dotted #eaa91d;
  background-clip: padding-box;
  -webkit-box-shadow: 1px 3px 10px -5px #333333;
  -moz-box-shadow: 1px 3px 10px -5px #333333;
  box-shadow: 1px 3px 10px -5px #333333;
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
}
/* line 252, ../sass/main.scss */
.cat .left-arm, .cat .right-arm, .cat .left-leg, .cat .right-leg {
  width: 10%;
  height: 80%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  background: #eaa91d;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -40%;
  margin-top: 5%;
  border: 2px dotted #eaa91d;
  background-clip: padding-box;
  z-index: 1;
  -webkit-box-shadow: 1px 3px 10px -5px #333333;
  -moz-box-shadow: 1px 3px 10px -5px #333333;
  box-shadow: 1px 3px 10px -5px #333333;
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
}
/* line 265, ../sass/main.scss */
.cat .left-arm {
  z-index: -1;
}
/* line 269, ../sass/main.scss */
.cat .right-arm {
  margin-left: -25%;
}
/* line 273, ../sass/main.scss */
.cat .left-leg {
  margin-left: 15%;
  z-index: -1;
}
/* line 278, ../sass/main.scss */
.cat .right-leg {
  margin-left: 30%;
}
/* line 282, ../sass/main.scss */
.cat .tail {
  color: #eaa91d;
  font-size: 150px;
  font-weight: bold;
  position: absolute;
  text-shadow: 1px 3px 5px #999999;
  z-index: -1;
  right: -5px;
  top: -90px;
  -webkit-transform: rotate(-10deg);
  -webkit-transition: 3s;
  -moz-transition: 3s;
  -o-transition: 3s;
  transition: 3s;
}

/* line 296, ../sass/main.scss */
.child {
  -webkit-transform: scale(0.4, 0.4);
  -moz-transform: scale(0.4, 0.4);
  -ms-transform: scale(0.4, 0.4);
  -o-transform: scale(0.4, 0.4);
  transform: scale(0.4, 0.4);
}

/* line 300, ../sass/main.scss */
.young {
  -webkit-transform: scale(0.7, 0.7);
  -moz-transform: scale(0.7, 0.7);
  -ms-transform: scale(0.7, 0.7);
  -o-transform: scale(0.7, 0.7);
  transform: scale(0.7, 0.7);
}

/* line 304, ../sass/main.scss */
.adult {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}

/* line 308, ../sass/main.scss */
.dead {
  display: none;
}

/* line 312, ../sass/main.scss */
.old > div, .old .left-leg, .old .right-leg, .old .left-arm, .old .right-arm {
  background-color: #aaa !important;
}

/* line 316, ../sass/main.scss */
.old .tail, .old .ears span {
  color: #aaa;
  border-bottom-color: #aaa !important;
}

/* line 322, ../sass/main.scss */
.cat.happy .tail {
  animation: happy 1s infinite;
  -moz-animation: happy 1s infinite;
  /* Firefox */
  -webkit-animation: happy 1s infinite;
}

/* line 330, ../sass/main.scss */
.cat.satisfied .tail {
  animation: happy 5s infinite;
  -moz-animation: happy 5s infinite;
  /* Firefox */
  -webkit-animation: happy 5s infinite;
}

/* line 337, ../sass/main.scss */
.cat.normal .left-ear, .cat.ill .left-ear {
  -webkit-transform: rotate(-55deg);
  -moz-transform: rotate(-55deg);
  -ms-transform: rotate(-55deg);
  -o-transform: rotate(-55deg);
  transform: rotate(-55deg);
  margin-left: -10px;
  margin-top: -45px;
}

/* line 343, ../sass/main.scss */
.cat.normal .right-ear, .cat.ill .right-ear {
  -webkit-transform: rotate(55deg);
  -moz-transform: rotate(55deg);
  -ms-transform: rotate(55deg);
  -o-transform: rotate(55deg);
  transform: rotate(55deg);
  margin-right: -10px;
  margin-top: -45px;
}

/* line 349, ../sass/main.scss */
.ill > div, .ill .left-leg, .ill .right-leg, .ill .left-arm, .ill .right-arm {
  background-color: #059813 !important;
}

/* line 353, ../sass/main.scss */
.ill .tail, .ill .ears span {
  color: #059813;
  border-bottom-color: #059813 !important;
}

/* line 358, ../sass/main.scss */
.empty .body {
  width: 70%;
  height: 30%;
}

/* line 363, ../sass/main.scss */
.empty .left-arm, .empty .right-arm, .empty .left-leg, .empty .right-leg {
  height: 100%;
}

/* line 367, ../sass/main.scss */
.starving .body {
  width: 70%;
  height: 25%;
}

/* line 372, ../sass/main.scss */
.starving .left-arm, .starving .right-arm, .starving .left-leg, .starving .right-leg {
  height: 130%;
}

/* line 376, ../sass/main.scss */
.satisfied .mouth, .neutral .mouth, .sad .mouth {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -5px;
  margin-top: 7px;
}

/* line 380, ../sass/main.scss */
.satisfied .tail, .neutral .tail, .sad .tail, .angry .tail {
  right: 10px;
}

/* line 384, ../sass/main.scss */
.angry .mouth {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

/* line 388, ../sass/main.scss */
.angry .eyes span {
  background-color: #f00;
}

/* line 392, ../sass/main.scss */
.intro {
  position: absolute;
  top: 3%;
  right: 1%;
  width: 35%;
  color: #333;
  text-shadow: 1px 1px 1px #fff;
  font-size: 15px;
}

/* line 402, ../sass/main.scss */
.intro .title {
  font-size: 30px;
  font-weight: bold;
  margin: 0 0 50px 0;
}

/* line 408, ../sass/main.scss */
.configurations {
  position: absolute;
  right: 3%;
  bottom: 3%;
  color: #333;
  text-shadow: 1px 1px 1px #fff;
  font-size: 15px;
}

/* line 417, ../sass/main.scss */
.button {
  padding: 0 20px;
  height: 40px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  background-color: #2527D4;
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  color: #eee;
  border: none;
  -webkit-box-shadow: inset 1px 1px 3px 0 #9293d5, inset -1px -1px 3px 0 #333333;
  -moz-box-shadow: inset 1px 1px 3px 0 #9293d5, inset -1px -1px 3px 0 #333333;
  box-shadow: inset 1px 1px 3px 0 #9293d5, inset -1px -1px 3px 0 #333333;
  text-shadow: 1px 1px 1px black;
  margin: 10px 5px 15px 5px;
  cursor: pointer;
  font-weight: bold;
}

/* line 434, ../sass/main.scss */
.button:hover {
  background-color: #2325B8;
}

/* line 438, ../sass/main.scss */
.button:active {
  background-color: #2325B8;
  -webkit-box-shadow: inset 1px 1px 5px 0 #333333, inset -1px -1px 5px 0 #333333;
  -moz-box-shadow: inset 1px 1px 5px 0 #333333, inset -1px -1px 5px 0 #333333;
  box-shadow: inset 1px 1px 5px 0 #333333, inset -1px -1px 5px 0 #333333;
  text-shadow: -1px -1px 1px black;
=======
body{
    font-size: 16pt;
>>>>>>> fff90c28a090366c9a28df2a6b068280da189d04
}